<!DOCTYPE html>
<html>
  <head>
    <%- include('./head') %>
  </head>
  <body>
    <%- include('./nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">팀원소개 및 역할 분담</h2>

      <P> 201704014 석준수 <br>
          201804024 이은솔 <br>
          201504036 황종민 </p>

    </div>
  </body>
</html>