<!DOCTYPE html>
<html lang ="ko">
  <head>
    <%- include('./head') %>
  </head>
  <body>
    <%- include('./nav') %>

    <div class="container mb-3">

      <div class="jumbotron">
        <h1>Web System Design and Development 2 </h1>
        <P> 가족같은 2남 1녀 </p>
      </div>

    </div>
  </body>
</html>