<!DOCTYPE html>
<html>
<head>
    <%- include('./head') %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=29gsi1wfsl"></script>
    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b73f41b7d4d450c35997ea0a6729455a&libraries=services"></script>

  
<body>
    <%- include('./nav') %>
    <ul class ="back" id = "navbar">
        <li>
        <a class= "map" href="/map">지도</a>
        </li>
        <li style = "float: right;">
        <a class="active" href="/upload"> 장소 등록 </a>
        </li>
    </ul>
    <div id="map" style="width:100%;height:100vh;"></div>
   <script type = "text/javascript" src="/index.js"></script>
    </body>
</html>